* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  /* font-family: Helvetica, sans-serif; */
  font-family: 'Segoe UI', Helvetica, Lucida, sans-serif;
}

.btn {
  display: flex;
  margin: 15px auto;
  color: #fff;
  background-color: #008069;
}
.btn:hover {
  color: #fff;
  background-color: #045849;
}
.user_info:hover {
  transition: all 0.3s ease;
  background-color: #bcbebe;
  cursor: pointer;
}
